---
layout: default.njk
title: This is the index page
---

div(class="space-y-16 py-4 px-10 lg:px-40 lg:w-screen min-h-screen dark:bg-gray-900 dark:text-white")
    //- buttons n stuff
    div
        div(
            class="float-right select-none cursor-pointer"
            x-data=""
            x-init="load_dark_state()"
            x-on:click="toggle_dark_mode()"
        ) toggle dark mode

    //- header
    div(class="inset-0 flex justify-center pt-12")
        div(class="text-center")
            div(class="mb-16 space-y-3")
                h2(class="font-bold text-3xl") wahlp
                p fullstack developer, anti-sweat gamer, average music enjoyer
            div(class="max-w-lg space-y-3") 
                h2(class="font-bold text-3xl") what's this
                p(class="text-justify") 
                    | i've been interested in recording my ideas and projects for a while, 
                    | but with nowhere to write about them. this site serves as an outlet to explain and document
                    | the work i've put out. i'm proud of everything listed here. even if it was small and 
                    | relatively insignificant, it was a learning experience.

    //- language/framework selections
    div(
        x-data=`{
            filters: [],
            toggle(e) {
                let el = e.target.dataset.tech;
                let pos = this.filters.indexOf(el);
                if (pos == -1) { 
                    this.filters.push(el);
                    e.target.classList.add('checked');
                } else {
                    this.filters.splice(pos, 1);
                    e.target.classList.remove('checked');
                }
            }
        }`
    )
        div(id="tech")
            div(class="text-xl")
                span(class="mr-2") languages and frameworks and other technologies i've used (click to filter)
            div(class="grid gap-4 xl:grid-cols-8 lg:grid-cols-6 md:grid-cols-4 grid-cols-2 mb-12 border-t-4 pt-2")
                //- display all unique techs across all projects
                - var tech_array = projects.map(proj => proj.tech)
                - tech_array = [].concat(...tech_array).sort(/*case insensitive*/(a,b) => a.localeCompare(b)).filter(/* unique values */(v, i, a) => a.indexOf(v) === i)
                each tech in tech_array
                    div(
                        class="rounded-md px-3 py-1 text-white hover:cursor-pointer select-none bg-primary-400 sm:hover:bg-primary-600 dark:bg-primary-800 dark:sm:hover:bg-primary-600"
                        x-on:click="toggle($event)"
                        data-tech=tech
                    )=tech
        //- div(x-text="JSON.stringify(filters)")

        //- list of projects
        div(id="projects")
            each project in projects
                div(
                    class="border-b-2 dark:border-gray-600 p-2 mb-16"
                    data-tech=project.tech
                    x-show="is_project_relevant(JSON.parse($el.dataset.tech), filters)"
                )
                    //- project header
                    div(class="mb-2")
                        //- project name
                        h2(class="inline-block text-3xl sm:mr-6 mr-2")=project.name
                        //- links to repo or other info
                        if (project.links)
                            - let first_time = true
                            span(class="items-center")
                                each link in project.links
                                    if (!first_time)
                                        //- james franco meme
                                        |  //  
                                    a(href=link.url target='_blank' class="links")= link.name
                                    - first_time = false
                    //- project description
                    p!=project.desc
                    //- technologies used in the project
                    ul(class="flex mt-4")
                        each tech in project.tech
                            li(class="italic font-semibold float-left ml-5 first:ml-0")=tech

script.
    function is_project_relevant(project_tech, filtered_tech) {
        if (filtered_tech.length == 0) {
            return true
        } else {
            // check if any filters match
            let matches = filtered_tech.filter(v => project_tech.includes(v));
            if (matches.length > 0) {
                // should turn on
                return true
            } else {
                return false
            }
        }
    }

    function toggle_dark_mode() {
        let dark_state = document.body.classList.toggle('dark');
        localStorage['dark'] = dark_state;
    }

    function load_dark_state() {
        let intended_dark_state = localStorage['dark'] == 'true';
        let is_page_already_dark = document.body.classList.contains('dark')

        if (is_page_already_dark !== intended_dark_state) {
            toggle_dark_mode()
        }
    }